.battlescribe, .modal-content {
  background-color: #fff;
}

p, h1, h2, h3, h4, h5, h6, td, th, .modal-content {
  color: #222;
}

.dead {
  background-color: red;
}

#nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 175px;
  height: 100%;
  overflow-y: scroll;
  padding-right: 15px;
  padding-bottom: 50px;
}

div.battlescribe {
  margin-left: 180px!important;
  margin-right: 0!important;
}

li.nav-item {
  margin: 2px 0px 0px 0px!important;
}

.modal-dialog {
  max-width: 800px!important;
}

.modal-content {
  padding: 20px;
}

.nav-button {
  font-size: 12px!important;
  width: 100%;
  white-space: normal!important;
}

.unit-button {
  font-size: 12px!important;
  white-space: normal;
}

.nav-menu {
  margin-top: 10px;
}

.nav-menu > h3 {
  padding-left: 5px!important;
}

div.battlescribe h1 {
  margin: 8px 0px 0px 10px!important;
}

div.battlescribe h2 {
  margin: 0px 0px 0px 10px!important;
}
